/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");
:root {
  --green: #189a46;
  --bg-color: #fff;
  --slider-bg-color: #0c0c0c;
  --about-us: #f53626;
  --black-title: #000c04;
  --text: #696969;
  --border-radius: 10px;
  --bg-light: rgba(147, 107, 232, 0.05);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}
/* Start header */
#site-header {
  background-color: var(--bg-color);
}
.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  color: var(--bg-color);
}
.navbar {
  margin: 0;
  justify-content: unset;
}
.navbar a.navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--green);
  font-family: "Jost", sans-serif;
}
.navbar-collaspe {
  display: flex !important;
}
ul.navbar-nav {
  display: flex;
  padding-left: 0;
  list-style: none;
  font-family: "Jost", sans-serif;
  padding-top: 20px;
}
ul.navbar-nav li.nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
ul.navbar-nav li.nav-item .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.5em;
  font-weight: 400;
  position: relative;
  color: var(--black-title);
}
ul.navbar-nav li.nav-item .nav-link:hover {
  color: var(--green);
  transition: all 0.4s linear;
}
ul.navbar-nav li.nav-item .nav-link::after {
  content: "";
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  position: absolute;
  transition: all 0.4s linear;
}
ul.navbar-nav li.nav-item .nav-link:hover::after {
  width: 100%;
}
a.icon {
  display: none;
  color: #fff;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  li.nav-item {
    display: none;
  }
  .navbar {
    margin: 0;
    justify-content: unset !important;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  #site-header .container {
    position: absolute;
    left: 10.5%;
    top: 8%;
  }
}
@media screen and (max-width: 1000px) {
  #site-header.response {
    height: 375px;
  }
  #site-header .container.response {
    position: absolute;
    left: 10.5%;
    top: 8%;
  }
  ul.navbar-nav.response {
    position: absolute;
    top: 41px;
    left: 0;
  }
  a.icon {
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 10px 15px;
    background-color: #116e32;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
  }

  a.icon:link {
    color: #fff;
  }
  ul.navbar-nav.response li.nav-item {
    /* display: contents; */
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  #site-header .container {
    position: absolute;
    left: 3.5%;
    top: 8%;
  }
  #site-header .container.response {
    position: absolute;
    left: 3.5%;
    top: 8%;
  }
  a.icon {
    position: absolute;
    right: 35px;
    top: 12px;
    padding: 10px 15px;
    background-color: #116e32;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
  }
}
/* End header */
/* Start breadcrumb */
.breadcumb {
  height: 330px;
  background-image: url(./img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 1em 0;
}
.breadcumb h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
/* End breadcrumb */
/* Start Service */
.content-photo-grids {
  display: flex;
  margin-top: 80px;
  padding-bottom: 80px;
  align-items: center;
  border-bottom: 1px solid #f0f3f0;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--about-us);
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--black-title);
}
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--green);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  color: var(--black-title);
}
a > img {
  border-radius: var(--border-radius);
}
a > img:hover {
  scale: 1.05;
  transition: 0.3s ease-in-out;
}
a.read:hover {
  color: var(--green);
  text-decoration: none;
}
/* End Service */
/* End portfolio */
.portfolio-item > a {
  display: block;
}
.portfolio-item img {
  border-radius: var(--border-radius);
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}
.portfolio-item img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/* overlay img */
.portfolio-item figure {
  position: relative;
  margin: 0px;
  overflow: hidden;
}
.portfolio-item figure::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}
.portfolio-item figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 100%;
  }
}

@media (max-width: 568px) {
  .protfolio-item {
    padding: 0 8px;
  }

  .gallery-top {
    padding: 0 10px;
  }
}
/* overlay img */
/* End portfolio */
/* Start Footer */
.footer-title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-28 {
  background-color: #111;
}
.footer-28 ul li {
  list-style: none;
  margin-bottom: 5px;
}
.footer-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  color: var(--text);
  line-height: 28px;
}
.footer-28 ul li a {
  font-weight: normal;
  font-size: 16px;
  color: var(--text);
  line-height: 28px;
}
.footer-28 ul.social-icon li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}
/* End Footer */
